<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   
  <!-- 指定log实现为LOG4J  log for java -->
  <settings>
    <setting name="logImpl" value="LOG4J"/>
     <setting name="autoMappingBehavior" value="FULL"/> 
  </settings>
  <typeAliases>
    <!--  <typeAlias type="cn.bdqn.entity.Stu" alias="stu"/> -->
    <package name="cn.smbms.pojo"/>
  </typeAliases>
</configuration>
